@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-weight: 500;
  font-family: Roboto;
  src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.ttf");
}
h1,
h2 {
  margin: 0;
  color: #fff;
  font: 700 60px/1.5 Roboto, sans-serif;
  text-transform: uppercase;
}

h2 {
  font-size: 38px;
}

h3 {
  font-weight: 400;
  font-size: 24px;
}

a {
  color: #cacaca;
  text-decoration: none;
}
a:hover {
  color: #fff;
}

body {
  min-width: 310px;
  margin: 0;
  padding: 0;
  color: #cacaca;
  font: 400 18px/1.5 Roboto, sans-serif;
  background-color: #08020d;
}

.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding-top: 100px;
}

.d-flex {
  display: flex;
}

.text-white {
  color: #fff;
}

.text-orange {
  color: #f89202;
}

.font-bold {
  font-weight: 700;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.upper-text {
  text-transform: uppercase;
}

.text-size1 {
  font-size: 16px;
}

.text-small {
  font-size: 12.8px;
}

.text-size7 {
  font-size: 64px;
}

.text-size3 {
  font-size: 32px;
}

.my-64 {
  margin: 64px 0;
}

.btn {
  width: 100%;
  padding: 20px 30px;
  box-sizing: border-box;
  color: #fff;
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}
.btn:hover {
  background: #48cc6e;
}
.btn:active {
  transform: scale(0.98);
}

.bg-free {
  background-image: url("../images/subscribe_1.png");
}

.bg-standard {
  background-image: url("../images/subscribe_2.png");
}

.bg-premium {
  background-image: url("../images/subscribe_3.png");
}

@media screen and (max-width: 1239px) {
  .container {
    box-sizing: border-box;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media screen and (max-width: 637px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
  }
}
.first-section {
  position: relative;
}
.first-section::before {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
  content: "";
}
.first-section .container {
  padding-top: 200px;
  padding-bottom: 200px;
}
.first-section .header {
  position: absolute;
  top: 25px;
  justify-content: space-between;
  width: 100%;
  font-size: 11px;
  -moz-column-gap: 24px;
       column-gap: 24px;
  row-gap: 17px;
}
.first-section .header .logo {
  align-items: center;
  margin-right: 66px;
  white-space: nowrap;
}
.first-section .header .logo img {
  width: 24px;
  margin-right: 16px;
}
.first-section .header .menu {
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.first-section .header .header-search {
  box-sizing: border-box;
  width: 248px;
  min-width: 75px;
  height: 25px;
  margin-left: auto;
  padding-left: 10px;
  background-color: #3c3b3d;
  border: none;
  border-radius: 50px;
  outline: none;
}
.first-section .header .header-search::-moz-placeholder {
  text-transform: uppercase;
}
.first-section .header .header-search:-ms-input-placeholder {
  text-transform: uppercase;
}
.first-section .header .header-search::placeholder {
  text-transform: uppercase;
}
.first-section .description-form {
  margin-top: 31px;
}
.first-section .registration-form {
  flex-wrap: wrap;
  max-width: 570px;
  margin: 0 auto;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.first-section .registration-form .floating-label {
  position: relative;
  flex-grow: 1;
  min-width: 270px;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
.first-section .registration-form .floating-label label {
  position: absolute;
  top: 3px;
  left: 20px;
  font-size: 13px;
  opacity: 0;
  transition: all 0.2s;
}
.first-section .registration-form .floating-label input {
  box-sizing: border-box;
  width: 100%;
  min-height: 50px;
  padding-left: 20px;
  font-size: 14px;
  background: transparent;
  border: 2px solid #cacaca;
  border-radius: 3px;
  outline: none;
}
.first-section .registration-form .floating-label input:focus {
  border-color: #34c176;
}
.first-section .registration-form .floating-label input::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.first-section .registration-form .floating-label input:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}
.first-section .registration-form .floating-label input::placeholder {
  color: #fff;
  opacity: 1;
}
.first-section .registration-form .floating-label input:not(:-moz-placeholder-shown) {
  padding-top: 10px;
}
.first-section .registration-form .floating-label input:not(:-ms-input-placeholder) {
  padding-top: 10px;
}
.first-section .registration-form .floating-label input:not(:placeholder-shown) {
  padding-top: 10px;
}
.first-section .registration-form .floating-label input:not(:-moz-placeholder-shown) + label {
  opacity: 1;
}
.first-section .registration-form .floating-label input:not(:-ms-input-placeholder) + label {
  opacity: 1;
}
.first-section .registration-form .floating-label input:not(:placeholder-shown) + label {
  opacity: 1;
}
.first-section .registration-form .btn {
  background: #34c176;
  border: none;
}
.first-section .registration-form .btn:hover {
  background: #48cc6e;
}

@media screen and (max-width: 1239px) {
  .first-section .container .header {
    width: calc(100% - 40px);
  }
}
@media screen and (max-width: 637px) {
  .first-section .container {
    padding-top: 250px;
  }
  .first-section .container .header {
    flex-direction: column;
    align-items: flex-start;
  }
  .first-section .container .header .menu {
    flex-direction: column;
    align-items: flex-start;
  }
  .first-section .container .header .menu a {
    font-weight: 700;
  }
  .first-section .container .header .header-search {
    width: 100%;
  }
  .first-section .container .description-form {
    margin-top: 16px;
  }
}
.pricing-list {
  justify-content: space-around;
  margin-top: 50px;
  padding-left: 0;
  -moz-column-gap: 50px;
       column-gap: 50px;
  row-gap: 50px;
  list-style: none;
}

.pricing-item {
  flex-basis: 340px;
  padding: 0 1.5rem;
  background-size: cover;
  border-radius: 1rem;
}
.pricing-item .pricing-value {
  margin: 200px 0 55px;
  padding-top: 5px;
  line-height: 2rem;
  vertical-align: super;
}
.pricing-item .pricing-currency {
  vertical-align: super;
}
.pricing-item .btn {
  padding: 22px 30px;
}

.pricing-section-footer {
  margin: 40px 0 0;
}

@media (max-width: 992px) {
  .pricing-list {
    flex-wrap: wrap;
  }
}
.mt-24 {
  margin-top: 24px;
}

.news-list {
  flex-direction: column;
  row-gap: 65px;
  margin-top: 48px;
}

.news-item {
  -moz-column-gap: 50px;
       column-gap: 50px;
  row-gap: 50px;
}
.news-item .news-img {
  flex-basis: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news-item .news-body {
  flex-basis: 100%;
}
.news-item .news-body h3 {
  margin-top: 0;
  font-size: 30px;
  text-transform: capitalize;
}
.news-item .news-body .news-footer {
  font-size: 12px;
}
.news-item .news-body .news-footer .news-author {
  -moz-column-gap: 16px;
       column-gap: 16px;
  margin-bottom: 48px;
}
.news-item .news-body .news-footer .btn {
  display: block;
  width: 135px;
  padding: 16px 30px;
}

@media (max-width: 992px) {
  .news-item {
    flex-direction: column;
  }
  .news-item h3 {
    font-size: 16px;
  }
  .news-item .news-img {
    order: -1;
  }
  .news-img {
    width: 100%;
  }
}/*# sourceMappingURL=app.css.map */