.first-section {
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;

  .container {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.description-form {
  margin-top: 31px;
}

.registration-form {
  flex-wrap: wrap;
  max-width: 570px;

  column-gap: 24px;

  .floating-label {
    position: relative;

    flex-grow: 1;
    min-width: 270px;
    margin-bottom: 1.5rem;

    label {
      position: absolute;
      top: 3px;
      left: 20px;

      opacity: 0;

      transition: all 0.2s;
    }

    input {
      box-sizing: border-box;

      width: 100%;
      min-height: 50px;
      padding-left: 20px;

      font-size: 14px;

      background: transparent;

      border: 2px solid $base-gray;
      border-radius: 3px;

      outline: none;

      &:focus {
        border-color: $green;
      }

      &::placeholder {
        color: $white;

        opacity: 1;
      }

      &:not(:placeholder-shown) {
        padding-top: 1em;
      }

      &:not(:placeholder-shown) + label {
        opacity: 1;
      }
    }
  }
}

.submit-btn {
  &:hover,
  &:focus {
    transform: scale(1.01);
  }
}

@media screen and (max-width: 768px) {
  .first-section {
    .container {
      padding-top: 250px;

      .description-form {
        margin-top: 16px;
      }
    }
  }
}
