@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-weight: 500;
  font-family: Roboto;
  src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.ttf");
}

h1,
h2 {
  margin: 0;

  color: #fff;
  font: 700 60px/1.5 Roboto, sans-serif;
  text-transform: uppercase;
}

h2 {
  font-size: 38px;
}

h3 {
  font-weight: 400;
  font-size: 24px;
}

a {
  color: $base-gray;
  text-decoration: none;

  &:hover {
    color: $white;
  }
}

body {
  min-width: calc(270px + 40px);

  margin: 0;
  padding: 0;

  color: $base-gray;
  font: 400 18px/1.5 Roboto, sans-serif;

  background-color: $main-bg;
}

.container {
  position: relative;

  width: 1200px;
  margin: 0 auto;
  padding-top: 100px;
}

.d-flex {
  display: flex;
}

.text-white {
  color: $white;
}

.text-orange {
  color: $orange;
}

.font-bold {
  font-weight: 700;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.upper-text {
  text-transform: uppercase;
}

.text-size1 {
  font-size: 16px;
}

.text-small {
  font-size: 12.8px;
}

.text-size7 {
  font-size: 64px;
}

.text-size3 {
  font-size: 32px;
}

.my-64 {
  margin: 64px 0;
}

.btn {
  width: 100%;
  padding: 20px 30px;
  box-sizing: border-box;

  color: $white;
  font-family: Roboto, sans-serif;
  text-transform: uppercase;

  background: transparent;
  border: 1px solid $white;
  border-radius: 5px;

  cursor: pointer;

  transition: all 0.3s;

  &:hover {
    background: $green-hover;
  }

  &:active {
    transform: scale(0.98);
  }
}

.bg-free {
  background-image: url("../images/subscribe_1.png");
}

.bg-standard {
  background-image: url("../images/subscribe_2.png");
}

.bg-premium {
  background-image: url("../images/subscribe_3.png");
}

@media screen and (max-width: 1239px) {
  .container {
    box-sizing: border-box;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 637px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }
}
