@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-weight: 500;
  font-family: Roboto;
  src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.ttf");
}

body {
  min-width: 310px;

  margin: 0;
  padding: 0;

  color: $base-gray;
  font: 400 18px/1.5 Roboto, sans-serif;

  background-color: $main-bg;
}

h1,
h2 {
  margin: 0;

  color: #fff;
  font: 700 60px/1.5 Roboto, sans-serif;
  text-transform: uppercase;
}

h2 {
  font-size: 38px;
}

h3 {
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
}

a {
  color: $base-gray;
  text-decoration: none;

  &:hover {
    color: $white !important;
  }
}

.container {
  position: relative;

  box-sizing: border-box;

  max-width: 1240px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.btn {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 20px 30px;

  color: $white;
  font-family: Roboto, sans-serif;
  text-transform: uppercase;

  background: transparent;
  border: 1px solid $white;
  border-radius: 5px;

  cursor: pointer;

  transition: all 150ms ease-in-out;

  &:hover,
  &:focus {
    background-color: $green;
    outline: none;

    // transform: scale(1.02);
  }

  &:active {
    transform: scale(0.99);
  }
}

.d-flex {
  display: flex;
}

.list {
  margin: 0;
  padding-left: 0;

  list-style-type: none;
}

.mx-auto {
  margin: 0 auto;
}

.m-0 {
  margin: 0;
}

.mb-48 {
  margin-bottom: 48px;
}

.pt-100 {
  padding-top: 100px;
}

.text-white {
  color: $white;
}

.text-gray {
  color: $gray;
}

.text-orange {
  color: $orange;
}

.font-bold {
  font-weight: 700;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-center {
  text-align: center;
}

.upper-text {
  text-transform: uppercase;
}

.text-small {
  font-size: 12.8px;
}

.text-size1 {
  font-size: 16px;
}

.text-size3 {
  font-size: 32px;
}

.text-size7 {
  font-size: 64px;
}

.my-64 {
  margin: 64px 0;
}

.bg-green {
  background-color: $green;
  border-color: $green;
}

.bg-purple {
  background-color: $purple;
  border-color: $purple;
}

.bg-brown {
  background-color: $brown;
  border-color: $brown;
}

.bg-free {
  background-image: url("../images/subscribe_1.png");
}

.bg-standard {
  background-image: url("../images/subscribe_2.png");
}

.bg-premium {
  background-image: url("../images/subscribe_3.png");
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }
}
