.news-list {
  flex-direction: column;
  row-gap: 65px;
}

.news-item {
  column-gap: 50px;
  row-gap: 50px;
}

.news-img {
  flex: 1 1 100%;
  min-width: 0;

  object-fit: cover;
}

.news-body {
  flex: 1 1 100%;

  h3 {
    margin-top: 0;

    font-size: 30px;
  }

  .news {
    margin-bottom: 24px;
  }

  // dell after check
  .news-err {
    margin-bottom: 15px;
  }
}

.news-footer {
  font-size: 12px;

  .news-author {
    column-gap: 16px;
  }

  .btn {
    width: 135px;
    padding: 16px 30px;
  }
}

@media (max-width: 768px) {
  .news-item {
    flex-direction: column;
  }

  .news-img {
    order: -1;
    width: 100%;
  }

  .news-body {
    h3 {
      font-size: 16px;
    }
  }
}
