.app-body {
  .btn {
    width: max-content;
    padding: 16px 40px;

    border-radius: 32px;
  }

  .app-img {
    flex-basis: 100%;

    text-align: center;

    img {
      max-width: 100%;

      // dell after check
      padding-left: 40px;

      vertical-align: top;
    }
  }
}

@media (max-width: 768px) {
  .app-body {
    flex-wrap: wrap;

    .app-img {
      order: -1;

      // dell after check
      img {
        padding-left: 0;
      }
    }
  }
}
