@import "_variables";
@import "_general";

.first-section {
  position: relative;

  &::before {
    position: absolute;

    width: 100%;
    height: 100%;

    background-image: url("../images/banner.png");
    background-position: center;
    background-size: cover;

    content: "";
  }

  .header {
    position: absolute;
    top: 25px;

    display: flex;
    align-items: center;
    width: 100%;

    font-size: 11px;

    .logo {
      display: flex;
      align-items: center;
      margin-right: 90px;

      img {
        height: 24px;
        margin-right: 16px;
      }
    }

    .menu {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      column-gap: 24px;

      a {
        color: $base-gray;
        text-decoration: none;

        &:hover {
          color: $white;
        }
      }
    }

    .header-search {
      width: 248px;
      min-width: 150px;
      height: 25px;
      margin: auto 0;
      padding-left: 10px;

      background-color: $input-bg;
      border: none;
      border-radius: 50px;

      &::placeholder {
        text-transform: uppercase;
      }
    }
  }

  .description-form {
    margin-top: 31px;

    font-size: 16px;
  }

  .registration-form {
    display: flex;
    flex-wrap: wrap;
    max-width: 570px;
    margin: 0 auto;

    column-gap: 24px;

    .floating-label {
      position: relative;

      flex-grow: 1;
      min-width: 270px;
      margin: 0 auto;
      margin-bottom: 1.5rem;

      label {
        position: absolute;
        top: 3px;
        left: 20px;

        font-size: 13px;

        opacity: 0;

        transition: all 0.2s;
      }

      input {
        box-sizing: border-box;

        width: 100%;
        min-height: 50px;
        padding-left: 20px;

        font-weight: 700;
        font-size: 14px;

        background: transparent;

        border: 2px solid $base-gray;
        border-radius: 3px;

        outline-color: $white;

        &::placeholder {
          color: $white;

          opacity: 1;
        }

        &:not(:placeholder-shown) {
          padding-top: 10px;
        }

        &:not(:placeholder-shown) + label {
          opacity: 1;
        }
      }
    }

    button {
      display: block;
      box-sizing: border-box;
      width: 100%;
      padding: 20px 30px;

      text-transform: uppercase;

      background-color: $green;
      border: none;
      border-radius: 5px;

      &:hover {
        background: $green-hover;

        &:active {
          transform: scale(0.99);
        }
      }
    }
  }
}

@media screen and (max-width: 414px) {
  .first-section {
    .container {
      padding-top: 250px;

      .header {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 17px;
        width: calc(100% - 40px);

        .menu {
          flex-direction: column;
          align-items: flex-start;

          a {
            font-weight: 700;
          }
        }

        .header-search {
          box-sizing: border-box;
          width: 100%;
          margin: 0;
        }
      }

      .description-form {
        margin-top: 16px;
      }
    }
  }
}
