.discography {
  @include grid-collection;
}

@media (max-width: 768px) {
  .discography {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }

  // dell after check
  .discography-item {
    margin-right: 49px;
  }

  .album-cover {
    width: 137px;
  }
}
