.popular-tracks {
  @include grid-collection;
  grid-template-columns: repeat(2, 1fr);

  .track {
    align-items: center;
    margin-right: 50px;

    .track-cover {
      width: 55px;

      margin-right: 15px;
    }
  }

  .track-info {
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .popular-tracks {
    grid-template-columns: 1fr;

    .track {
      margin: 0;
    }
  }
}
